<%= render "link" %>

<div class="mt-3 card-darker">
  <h1 class="fs-2">Campfire</h1>

  <%= turbo_stream_from "comment" %>

  <div id="comments">
    <%= render @comments %>
  </div>

  <%= render "form", comment: @comment %>
</div>