<div class="text-center">
  <%= link_to task.project.name, task.project, class: "mx-2 link" %>
  <span class="small"> > </span>
  <%= link_to 'Issues', project_tasks_path(task.project), class: "mx-2 link" %>
</div>