<% @title = "New task" %>

<%= render 'shared/links', object: @task %>

<div class="card-darker title-container">
  <h1 class="title">New task</h1>
  <%= turbo_frame_tag "new_task" do %>
    <%= render "form", task: @task %>
  <% end %>
</div>
