<%= link_to collaborator, class: "p-2 flex items-center gap-2", id: dom_id(collaborator) do %>
  <%= profile_picture collaborator %>
  <div>
    <p class="mb-0"><%= collaborator.name %></p>
    <% if collaborator.title %>
      <p class="mb-0 text-secondary" style="margin-top: -5px"><%= collaborator.title %></p>
    <% end %>
  </div>
<% end %>
