<%= link_to collaborator, class: "my-1 p-2 col-12 col-md-6 hstack gap-2 flex-wrap text-decoration-none", id: dom_id(collaborator) do %>
  <%= profile_picture collaborator %>
  <div>
    <p class="mb-0"><%= collaborator.name %></p>
    <% if collaborator.title %>
      <p class="mb-0 text-secondary" style="margin-top: -5px"><%= collaborator.title %></p>
    <% end %>
  </div>
<% end %>
