<div class="card-darker title-container mx-auto pb-4" style="max-width: 450px;">
  <h1 class="fs-4 title">Edit collaborator</h1>
  <div class="">
    <%= render "form", collaborator: @collaborator %>
  </div>
</div>