<div class="card-darker title-container mx-auto pb-4" style="width: 450px;">
  <h1 class="fs-4 title">Edit collaborator</h1>
  <div class="d-flex flex-column align-items-center">
    <%= render "form", collaborator: @collaborator %>
  </div>
</div>