<p style="color: green"><%= notice %></p>
<h1 class="visually-hidden">Collaborators</h1>

<div id="collaborators">
  <% @collaborators.each do |collaborator| %>
    <%= render collaborator %>
  <% end %>
</div>

