<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center flex-wrap gap-5" id="collaborators">
  <% @collaborators.each do |collaborator| %>
    <%= render collaborator %>
  <% end %>
</div>

