<p style="color: green"><%= notice %></p>
<h1 class="text-center fs-3 fw-bold"><%= current_collaborator.organization&.name %></h1>

<div class="text-center mb-3">
  <%= link_to 'Invite collaborators', organization_invite_path(current_collaborator.organization), class: "btn btn-success text-black" %>
</div>

<div class="row justify-content-center" id="collaborators">
  <% @collaborators.each do |collaborator| %>
    <%= render collaborator %>
  <% end %>
</div>

