<section class="card-darker title-container">
  <h2 class="fs-3 title">
    <%= "My issue".pluralize(collaborator.todos.undone.size) %>
  </h2>

  <% if collaborator.todos.undone.blank? %>
    <p>Your issues will show here !</p>
  <% else %>
    <%= render collaborator.todos.undone %>
  <% end %>
</section>
