<% if object.errors.present? %>
  <section class="card-darker mb-2">
    <h2 class="text-red-600 text-lg">Oops! There <%= "is".pluralize(object.errors.size) %> <%= pluralize(object.errors.size, "error") %>:</h2>
    <ul>
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </section>
<% end %>