<%= link_to [@project, document], class: "document-card" do %>
  <h2 class="text-lg mb-3 text-center">
    <i class="bi bi-folder-fill text-blue-800"></i>
    <%= document.name %>
  </h2>
  <% document.files.each do |file| %>
    <% if file.representable? %>
      <%= image_tag file.representation(resize_to_limit: [134, 150]), class: "rounded-sm mx-auto" %>
    <% else %>
      <div class="text-center">
        <i class="bi bi-file-earmark-text text-7xl"></i>
      </div>
    <% end %>
  <% end %>
<% end %>