<% @title = "Edit #{@document.name}" %>

<%= render 'shared/links', object: @document %>

<div class="card-darker title-container">
  <h1 class="title">Edit document</h1>
  <%= render "form", document: @document %>
</div>