<%= render 'shared/links', object: @project %>

<div class="mt-3">
  <%= link_to 'New document', new_project_document_path(@project), class: "btn btn-green text-black" %>
</div>

<div class="card-darker title-container">
  <h1 class="title">Documents</h1>
  <% if @project.documents.blank? %>
    <div><%= @project.name %> documents will show here !</div>
  <% else %>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mx-1 gap-7">
      <%= render @project.documents %>
    </div>
  <% end %>
</div>
