<div class="text-center">
  <%= link_to @project.name, @project, class: "mx-2 link" %>
  <span class="small"> > </span>
  <%= link_to 'Documents', project_documents_path(@project), class: "mx-2 link" %>
</div>

<div class="card-darker title-container">
  <h1 class="fs-4 title">New document</h1>
  <%= render "form", document: @document %>
</div>