<h1 class="text-center text-2xl font-semibold"><%= current_collaborator.organization&.name %></h1>

<div class="text-center">
  <%= link_to 'New project', new_project_path, class: "btn btn-green text-black" %>
</div>

<div class="grid md:grid-cols-2 gap-4" id="projects">
  <% @projects.each do |project| %>
    <% if project.collaborator.organization == current_collaborator.organization %>
      <%= render project %>
    <% end %>
  <% end %>
</div>
