<h1 class="visually-hidden">Projects</h1>

<h2 class="text-center fs-3 fw-bold"><%= current_collaborator.organization&.name %></h2>

<div class="text-center">
  <%= link_to 'New project', new_project_path, class: "btn btn-success text-black" %>
</div>

<div class="row" id="projects">
  <%= render @projects %>
</div>
