<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center">
  <%= render @project %>
</div>

<% if @project.collaborator == current_collaborator %>
  <div class="mt-1 d-flex flex-wrap justify-content-center gap-2">
    <%= link_to edit_project_path(@project), class: "mt-1 btn btn-sm btn-dark" do %>
      Edit<i class="bi bi-pencil-square ms-2"></i>
    <% end %>
    <%= button_to @project, class: "mt-1 btn btn-sm btn-danger", method: :delete do %>
      Destroy<i class="bi bi-trash ms-2"></i>
    <% end %>
  </div>
<% end %>