<div class="mt-3 card-darker title-container" id="todoslist">
  <h2 class="title"><%= "Activity" %></h2>

  <% Project.includes(:tasks).each do |project| %>
    <% if project.collaborator.organization == current_collaborator.organization %>
          <% if project.tasks.present? %>
            <div id="tasks">
              <%= render project.tasks %>
            </div>
          <% end %>
    <% end %>
  <% end %>
</div>