<%= render 'shared/collaborator_todos', collaborator: current_collaborator %>

<section class="card-darker title-container">
  <h2 class="fs-3 title">All Issues</h2>

  <% if @todos.blank? %>
    <p>Issues will show here !</p>
  <% else %>
    <%= render @todos %>
  <% end %>
</section>