<% @title = "New todo" %>

<%= render 'shared/links', object: @todo %>

<div class="card-darker title-container">
  <h1 class="title">New todo</h1>
  <%= turbo_frame_tag "new_todo" do %>
    <%= render "form", todo: @todo %>
  <% end %>
</div>