/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */
:root {
    --color: whitesmoke;
    --primary-color: hsl(240, 60%, 41%);
    --bg-color: hsl(223, 93%, 11%);
    --bg-darker: #161b22;
    --bg-default: #0d1117;
    --border: hsl(0, 0%, 20%);
}

body {
    background-color: var(--bg-default);
}

main {
    color: var(--color) !important;
    max-width: 850px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--color);
}

.turbo-progress-bar {
    background: linear-gradient(orangered, orange, darkred);
}

.profile-picture {
    width: 35px;
    height: 35px;
    font-size: medium;
    border-radius: 50%;
    color: whitesmoke;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.profile-picture-sm {
    width: 25px;
    height: 25px;
    font-size: small;
}
.profile-picture-lg {
    width: 100px;
    height: 100px;
    font-size: xxx-large;
}

.card-darker {
    padding: 16px;
    color: var(--color) !important;
    background-color: var(--bg-darker);
    border: 1px solid hsl(0, 0%, 15%);
    border-radius: 5px;
}
#todoslist .card-darker {
    padding: 0;
    border: none;
}

.title-container {
    position: relative;
    margin-top: 25px !important;
    padding-top: 35px;
}
.title {
    position: absolute;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 3px 5px;
    border-radius: 3px;
    top: -13px;
}

.bg-default {
    background-color: var(--bg-default);;
}

.card-width {
    width: 405px;
    display: inline-block;
}
.card-width-height {
    width: 405px;
    height: 350px;
}

.form-check-todo {
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: 1px solid dimgrey;
}
.form-check-todo-sm {
    width: 16px;
    height: 16px;
}

.w-max-form {
    width: 400px;
}

.three-dots {
    background-color: var(--bg-darker);
    border: 1px solid var(--border);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.link {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 5px;
    padding-bottom: 5px;
}

.arrow {
    background-color: var(--bg-darker);
    border: 1px solid var(--border);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 5%;
}
.arrow.disable {
    color: dimgrey;
}

.form-control::placeholder {
    color: grey;
}

.cursor-pointer {
    cursor: pointer;
}

.focus-none {
    outline: none !important;
    box-shadow: none !important;
    color: whitesmoke;
}
.focus-none:focus {
    color: whitesmoke;
}

/* slim-select */
.ss-content {
    background-color: var(--bg-darker) !important;
}
.ss-search > input {
    background-color: var(--bg-darker) !important;
    border: 1px solid grey !important;
}
.ss-search > input::placeholder {
    color: grey !important;
    opacity: 1;
}
.ss-search > input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.ss-option {
    color: white !important;
}
.ss-option:hover,
.ss-selected {
    background-color: var(--bg-default) !important;
}
.ss-value {
    background-color: var(--primary-color) !important;
}