/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */
:root {
    --color: whitesmoke;
    --primary-color: hsl(240, 60%, 41%);
    --bg-color: hsl(223, 93%, 11%);
    --bg-darker: #161b22;
}

body {
    background-color: #0d1117;
}

main {
    color: var(--color) !important;
    max-width: 850px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--color);
}

.profile-picture {
    width: 35px;
    height: 35px;
    font-size: medium;
    border-radius: 50%;
    color: whitesmoke;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.profile-picture-sm {
    width: 25px;
    height: 25px;
    font-size: small;
}
.profile-picture-lg {
    width: 100px;
    height: 100px;
    font-size: xxx-large;
}

.card-darker {
    padding: 16px;
    color: var(--color) !important;
    background-color: var(--bg-darker);
    border: 1px solid hsl(0, 0%, 15%);
    border-radius: 5px;
}
#todoslist .card-darker {
    padding: 0;
    border: none;
}

.title-container {
    position: relative;
    margin-top: 25px !important;
    padding-top: 35px;
}
.title {
    position: absolute;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 3px 5px;
    border-radius: 3px;
    top: -13px;
}

.bg-default {
    background-color: #0d1117;;
}

.card-width {
    width: 405px;
    display: inline-block;
}