<div class="text-center mb-5">
  <%= link_to @organization.name, collaborators_path, class: "mx-2 link" %>
</div>

<div class="card-darker title-container" data-controller="clipboard">
  <h1 class="title">Invite collaborators</h1>
  <p>Share this link with collaborators you'd like to join your organization</p>
  <div class="mt-3 flex items-center">
    <input type="url" class="bg-gray-800 border-0 focus-none rounded-s-lg w-full" value="<%= [organization_url(@organization), "join", @token].join("/") %>" data-clipboard-target="source" disabled>
    <button type="button" class="btn btn-green rounded-s-none rounded-e-lg flex" data-action="clipboard#copy">
      <i class="bi bi-copy me-2"></i>
      Copy
    </button>
  </div>

  <div data-clipboard-target="flash">
  </div>
</div>