<div class="text-center">
  <%= link_to @organization.name, collaborators_path, class: "mx-2 link" %>
</div>

<div class="card-darker title-container">
  <h1 class="fs-3 title">Invite collaborators</h1>
  <p class="text-secondary">Share this link with collaborators you'd like to join your organization</p>
  <div class="input-group mb-3">
    <input type="url" class="form-control text-bg-dark border-0" value="<%= [organization_url(@organization), "join", @token].join("/") %>" disabled>
    <button class="btn text-white" style="background-color: hsl(240, 60%, 41%);">Copy</button>
  </div>
</div>