<% @title = "Join #{@organization.name}" %>

<div class="grid lg:grid-cols-2 lg:gap-x-12 min-h-screen">
  <section class="hidden lg:inline-block p-5 text-white" style="background-color: #021138;">
    <h2 class="text-3xl font-bold mt-16 pt-5"><%= link_to 'Coolab', root_path, data: { turbo: false }, class: "hover:text-gray-200" %></h2>
    <p class="text-lg">Cool project collaboration for your teams !</p>
  </section>
  <section class="py-4 px-2 flex flex-col items-center lg:inline-block">
    <p>
      Already a collaborator?
      <%= link_to 'Sign in', login_path, class: "underline hover:text-gray-300" %>
    </p>
    <h1 class="text-2xl fw-bold lg:mt-16">Join <%= @organization.name %></h1>

    <%= render "collaborators/form", collaborator: @collaborator %>
  </section>
</div>